<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>09999988</string>
		<key>iconName</key>
		<string>新闻</string>
		<key>iconUrl</key>
		<string>http://www.baidu.com</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>09999999</string>
		<key>iconName</key>
		<string>头条</string>
		<key>iconUrl</key>
		<string>http://www.baidu.com</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>10000003</string>
		<key>iconName</key>
		<string>微信精选</string>
		<key>iconUrl</key>
		<string>http://www.baidu.com</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>10000008</string>
		<key>iconName</key>
		<string>钥匙</string>
		<key>iconUrl</key>
		<string>http://www.baidu.com</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>10000011</string>
		<key>iconName</key>
		<string>彩票</string>
		<key>iconUrl</key>
		<string>http://www.baidu.com</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>10000014</string>
		<key>iconName</key>
		<string>支付</string>
		<key>iconUrl</key>
		<string>http://www.baidu.com</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>20000032</string>
		<key>iconName</key>
		<string>笑话</string>
		<key>iconUrl</key>
		<string>http://www.baidu.com</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>10000033</string>
		<key>iconName</key>
		<string>段子</string>
		<key>iconUrl</key>
		<string>http://www.baidu.com</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>20000066</string>
		<key>iconName</key>
		<string>科技</string>
		<key>iconUrl</key>
		<string>http://www.baidu.com</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>20000066</string>
		<key>iconName</key>
		<string>科技</string>
		<key>iconUrl</key>
		<string>http://www.baidu.com</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>20000066</string>
		<key>iconName</key>
		<string>科技</string>
		<key>iconUrl</key>
		<string>http://www.baidu.com</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>20000066</string>
		<key>iconName</key>
		<string>科技</string>
		<key>iconUrl</key>
		<string>http://www.baidu.com</string>
	</dict>
</array>
</plist>
